<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/styles.css" />
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        html,
        body {
            height: 100%;
        }

        #app {
            height: 100%;
        }

        .design{
            position:absolute;
            left: -7px;
            top: 0;
            opacity: 0.7;
            z-index: 100;
            display: none;
        }

    </style>
</head>
<body>
    <div class="design"><img alt="" src="/public/img/design.png"></div>
    <div id="app"></div>
    <script src="/public/js/build.js"></script>
</body>
</html>
